extends layout

block content
  h1.
    Game List
  ul
    each game, i in games
      li
        p= game.name
        p= game.creationDate
        p= game.characters
        form#formDeletegame(name='deletegame', method='post', action='/delete-game')
          input(type='hidden', name='id', value='#{game._id}')
          button#btnSubmit(type='submit') x


