extends layout

block content
  h1.
    User List
  ul
    each player, i in playersList
      li
        a(href='mailto:#{player.email}')= player.username
        form#formDeletePlayer(name='deleteplayer', method='post', action='/delete-player')
            input(type='hidden', name='id', value='#{player._id}')
            button#btnSubmit(type='submit') x


